<div id="chat-app">
</div>

<% if signed_in? %>
  Logged in as <%= current_user.name %>
  <%= link_to "Log out", logout_path %>
<% end %>

<script type="text/javascript">
  ChatApp.init({
  });
</script>
