<form id="new-room">
  <fieldset class="inputs">
    <ol>
      <li>
        <label for="new-room-name">Name</label>
        <input type="text" name="name" id="new-room-name">
      </li>
    </ol>
  </fieldset>
  <fieldset class="buttons">
    <ol>
      <li class="commit">
        <input name="commit" type="submit" value="Create this new chat room">
      </li>
    </ol>
  </fieldset>
</form>
